{% load shortcuts %}
<table class="table table-striped table-bordered table-sm m-0">
    <thead>
        <tr>
            <th>{%  if user.pk == user_obj.pk %}My{% else %}Public{% endif %} templates{% if user == user_obj %} (<a href="{% url 'template_list' %}">Go to my templates</a>){% endif %}</th>
            <th>Utility</th>
            {%  if user.pk == user_obj.pk %}<th>Public</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for template in templates %}
        <tr>
            <td>{% if is_subscribed_to or user.pk == user_obj.pk %}<a href="{% url 'scratchpad_index' %}?template={{ template.pk }}">{{ template.name }}</a>{% else %}{{ template.name }}{% endif %}</td>
            <td>{{ template.is_utility|yesnoimg }}</td>
            {%  if request.user.pk == user_obj.pk %}
                <td>{{ template.is_public|yesnoimg }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>