{% extends "base.html" %}

{% block title %}Create API token – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block content %}
    {% if created %}
        <div class="alert alert-success mb-4">A new API token was created successfully.</div>
    {% endif %}

    <div class="card mb-4">
        <h5 class="card-header">Create API token</h5>

        <div class="card-body">
            <dl class="m-0">
                <dt>Current API token:</dt>
                <dd class="mb-0">{{ token|default:"You currently have no API token" }}</dd>
            </dl>

            <form action="{% url 'api_token' %}" method="post" id="api_token_form">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="mt-3 btn {% if token %}btn-danger{% else %}btn-primary{% endif %}">Create new API token</button>
                <a class="mt-3 btn btn-outline-secondary" href="{% url 'user_detail' user.pk %}">Back to user page</a>
            </form>
        </div>
    </div>
{% endblock %}