{% extends "base.html" %}

{% block title%}Available Scrapers – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block scrapers_li_tags %} active{% endblock %}

{% load shortcuts %}
{% block content%}
    <div class="table-responsive mb-4">
        <table class="table table-striped table-bordered m-0">
            <caption class="sr-only">List of available scrapers</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Get release info</th>
                <th>Searchable</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>{% for scraper in scrapers %}
                <tr>
                    <td><a href="{{ scraper.url }}">{{ scraper.name }}</a></td>
                    <td>{{ scraper.release|yesnoimg }}</td>
                    <td>{{ scraper.searchable|yesnoimg }}</td>
                    <td>{{ scraper.notes|safe }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}