{% extends "base.html" %}

{% block title%}Settings – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block settings_li_tags %} class="active"{% endblock %}

{% block content%}{% if successful %}<div class="alert alert-success">Your settings were saved successfully.</div>{% endif %}

    <form action="{% url 'settings' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset xmlns="http://www.w3.org/1999/xhtml">
            <legend>Settings</legend>

            {% include 'bootstrap_form_fields.html' %}
            
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Save settings</button>
            </div>
        </fieldset>
    </form>{% endblock %}