{% extends "base.html" %}

{% block additionalHeaders %}<script src="http://yui.yahooapis.com/3.4.0/build/yui/yui-min.js"></script>

<script type="text/javascript">
YUI().use('node','event','io','json-parse', function (Y) {
    Y.on('domready', function(e) {
        // Access DOM elements.
        var submit = Y.one('#submit'),
            input   = Y.one('#id_input'),
            select = Y.one('#id_scraper'),
            form = Y.one('form'),
            subcontent = Y.one('#subcontent');
        var input_string = 'Enter release url or search term';
        var global_cache = {};
    
        function busyStart(onlyBar) {
            if (!onlyBar) {
                submit.set('disabled',true);
                input.set('disabled',true);
                select.set('disabled',true);
                submit.set('value','Please wait...');
            }
            subcontent.setContent('<img class="center" src="{{ STATIC_URL }}ajax-loader.gif" alt="Loading" />');
        }
        
        function busyStop() {
            submit.set('disabled',false);
            input.set('disabled',false);
            select.set('disabled',false);
            submit.set('value','Fetch');
        }
        
        function restoreInputDefaultValue(e) {
           if ( input.get('value') == '' ) {
            input.set('value',input_string);
           }
        };
    
        input.set('value',input_string);
        
        input.on('focus', function(e) {
           if ( input.get('value') == input_string ) {
            input.set('value','');
           }
        });
        
        input.on('clickoutside', restoreInputDefaultValue );
        input.on('key', restoreInputDefaultValue, 'press:tab');
        
        function submitInput(e) {
            e.preventDefault();
            if (input.get('value') != '' && input.get('value') != input_string) {
                var cfg = {
                    method: 'POST',
                    form: {
                        id: form,
                        useDisabled: true,
                    },
                    on: {
                        success: function(id, o, args) {
                            queryId(o.responseText);
                        },
                        failure: function(id, o, args) {
                            if (o.status == 400) {
                                subcontent.setContent('<p>The input field is required.</p>')
                            } else {
                                subcontent.setContent('<p>A general error occured. Please try again later.</p>')
                            }
                            busyStop();
                        }
                    },
                };
                
                busyStart(false);
                // Start the transaction.
                Y.io('{% url index %}?xhr', cfg);
            }
        };
        
        function getById(e) {
            e.preventDefault();
            var cfg = {
                method: 'GET',
                on: {
                    success: function(id, o, args) {
                        queryId(o.responseText);
                    },
                    failure: function(id, o, args) {
                        subcontent.setContent('<p>A general error occured. Please try again later.</p>')
                        busyStop();
                    }
                },
            };
            
            busyStart(false);
            Y.io(this.get('href') + '?xhr', cfg);
        };
        
        function changeFormat(e) {
            var format_form = this.get('parentNode'),
                url = format_form.get('action'),
                textarea = Y.Node.one('#result_container textarea'),
                loading_image = Y.Node.create('<img id="format_loading" src="{{ STATIC_URL }}ajax-loader.gif" alt="Loading" />'),
                format = this.get('value');
            
            var cfg = {
                method: 'GET',
                on: {
                    success: function(id, o, args) {
                        var data = Y.JSON.parse(o.responseText);
                        var download_link = Y.Node.one('a#download_link');
                        download_link.set('href',download_link.get('href').replace(/[\w\d-]+$/,args.format))
                        
                        if (data[0] == 'result') {
                            args.textarea.set('value',data[1]);
                            global_cache[args.format] = data[1];
                        }
                        
                        args.textarea.set('disabled',false);
                        args.select.set('disabled',false);
                        args.loading_image.remove();
                    },
                    failure: function(id, o, args) {
                        args.textarea.set('disabled',false);
                        args.select.set('disabled',false);
                        args.loading_image.remove();
                    }
                },
                arguments: {
                    select: this,
                    textarea: textarea,
                    loading_image: loading_image,
                    format: format,
                }
            };
            
            if (format in global_cache) {
                textarea.set('value',global_cache[format]);
            } else {
                textarea.set('disabled',true);
                this.set('disabled',true);
                format_form.append(loading_image);
                
                Y.io(url + '?xhr&f=' + format, cfg);
            };
        }
        
        function queryId(id) {
            var cfg = {
                method: 'GET',
                on: {
                    success: function(id, o, args) {
                        //invalidate the cache
                        global_cache = {'result_id':args.q_id};
                        
                        var data = Y.JSON.parse(o.responseText);
                        
                        if (data[0] == 'result') {
                            var textarea = Y.Node.create('<textarea></textarea>');
                            textarea.addClass('wide');
                            textarea.set('value',data[1]);
                            
                            var div = Y.Node.create('<div id="result_container"></div>');
                            div.addClass('form_settings');
                            div.insert(textarea,'replace');
                            
                            subcontent.setContent(div);
                            
                            var download_link = Y.Node.create('<a href="{% url download_result "121212" "whatcd" %}" id="download_link">Download as .txt</a>'.replace(/121212/,args.q_id));
                            subcontent.append(download_link);
                            
                            var format_form = Y.Node.create('{% spaceless %}{% include "format_form.html" %}{% endspaceless %}');
                            format_form.set('action','{% url get_result '121212' %}'.replace(/121212/,args.q_id))
                            format_form.one('#id_f').on('change',changeFormat);
                            
                            subcontent.append(format_form);
                            
                            busyStop();
                        } else if (data[0] == 'list') {
                            var ul = Y.Node.create('<ul id="release_list"></ul>');
                            
                            var scraper_results = data[1];
                            for (scraper in scraper_results) {
                                var release_list = scraper_results[scraper];
                                for (var i = 0; i < release_list.length;i++) {
                                    var name = release_list[i]['name'],
                                        info = release_list[i]['info'],
                                        id = release_list[i]['release'];
                                    
                                    var li = Y.Node.create('<li></li>');
                                    var a = Y.Node.create('<a href="'+ '{% url get_by_id 121212 131313 %}'.replace(/121212/,scraper).replace(/131313/,id) + '">'+name+'</a>');
                                    a.on('key', getById, 'press:enter');
                                    a.on('click', getById);
                                    
                                    li.append(a);
                                    li.append('<br />')
                                    li.append(info);
                                    
                                    ul.append(li);
                                }
                            };
                            
                            if (ul.all('*').size() != 0) {
                                subcontent.setContent(ul);
                            } else {
                                subcontent.setContent('<p>Sorry, there were no matches.</p>');
                            }
                            busyStop();
                        } else if (data[0] == 'notfound') {
                            subcontent.setContent('<p>I could not find the release with the given ID. You may want to try again with another one.</p>');
                            busyStop();
                        } else if (data[0] == 'waiting') {
                            var delay = function() { queryId(args.q_id); };
                            window.setTimeout(delay, 1000);
                        } else {
                            subcontent.setContent(o.responseText);
                            busyStop();
                        }
                    },
                    failure: function(id, o, args) {
                        if (o.status == 503) {
                            subcontent.setContent('<p>An error occured while retrieving the data. This might be a temporary problem. Try again in a few minutes.</p>');
                        } else if (o.status == 404) {
                            subcontent.setContent('<p>Something happened that should not happen. Please try again.</p>');
                        } else {
                            subcontent.setContent('<p>A general error occured. Please try again later.</p>');
                        }
                        busyStop();
                    }
                },
                arguments: {
                    q_id: id,
                }
            };
            
            var uri = '{% url get_result '121212' %}'.replace(/121212/,id)+'?xhr';
            
            //circumvent IE's ajax caching
            if (Y.UA.ie > 0) {
                var date = new Date();
                var timestamp = date.getTime();
                
                uri = uri + '=' + timestamp;
            }
            
            Y.io(uri, cfg);
        };
        
        input.on('key', submitInput, 'press:enter');
        submit.on('key', submitInput, 'press:enter');
        submit.on('click', submitInput);
        
        //there may already be a release list on the page
        var release_links = Y.all('#release_list li a');
        
        //alter the default events for each link
        release_links.each( function(node,index,nodelist) {
            node.on('key', getById, 'press:enter');
            node.on('click', getById);
        });
        
        var format_select = Y.all('#id_f');
        format_select.each(function(node,index,nodelist) {
            node.on('change',changeFormat);
        });
    });
});
</script>
{% endblock %}

{% block content %}{% include "input_form.html" %}
<div id="subcontent">{% block subcontent %}{% endblock %}</div>{% endblock %}