<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}Title{% endblock %} - YADG</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" title="style" />
  {% block additionalHeaders %}
  {% endblock %}
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="{% url index %}">YADG</a></h1>
          <h2>Yet Another Description Generator</h2>

        </div>
      </div>
    </div>
    <div id="site_content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
      <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a>
    </div>
  </div>
</html>
