{% if field.errors %}
    {% if field.errors|length_is:1 %}
        <span class="invalid-feedback">{{ field.errors|first|escape }}</span>
    {% else %}
        <ul class="invalid-feedback">
            {% for error in field.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
