{% regroup immediate_dependencies|dictsort:"owner.username.lower" by owner as grouped_dependencies %}
<div class="card bg-light">
    <h5 class="card-header">Dependencies <a class="yadg_tooltip" href="#" title="The list of templates that are available to be included by this template's code. Each entry lists the name of the user the accessible template belongs to, it's name (in bold letters) and below that the id which can be used to refer to the template in code.">[?]</a>:</h5>
    <div class="card-body pb-0">
        <dl class="mb-0">
            {% for group in grouped_dependencies %}
                <dt>by {% if group.grouper.pk == user.pk %}{{ group.grouper }} (you){% else %}<a href="{% url 'user_detail' group.grouper.pk %}">{{ group.grouper }}</a>{% endif %}:</dt>
                <dd class="pl-3">
                    {% block dependency_codes_list_dd %}{% endblock %}
                </dd>
            {% endfor %}
        </dl>
    </div>
</div>
