{% load addforms %}{% load with_attrs %}{% if not input_form %}{% add_input_form as input_form %}{% endif %}
<div class="card bg-light p-3 mb-4">
    <form action="{% url 'index' %}" method="get" class="form-inline">
        <label class="sr-only" for="{{ input_form.input.id_for_label }}">{{ input_form.input.label }}</label>
        {{ input_form.input|with_attrs:"form-control flex-grow-1 mr-sm-2 mb-2 mb-md-0" }}

        <label class="sr-only" for="{{ input_form.scraper.id_for_label }}">{{ input_form.scraper.label }}</label>
        {{ input_form.scraper|with_attrs:"form-control mr-sm-2 mb-2 mb-md-0" }}

        <button type="submit" class="btn btn-primary" id="submit">Fetch</button>
    </form>
</div>
