{% extends "base.html" %}{% load url from future %}

{% block home_li_tags %}{% endblock %}

{% block additionalHeaders %}
    {{ sandboxform.media }}

    {% include 'sandbox_rendering_headers.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            var success_callback = function (description) {
                    $("textarea#render_result").text(description);
                },
                failure_callback = function(message) {
                    $("textarea#render_result").text((message) ? "Error: " + message : "Error: Could not parse your template.");
                };

            {% include 'sandbox_rendering.js' %}

            template_code_editor.on("changes", function() {
                var template = template_code_editor.getValue();

                sandbox.eval(eval_string, success_callback, {template: template, data: data}, failure_callback);
            });

            $('#action_new_template').click(function(e) {
                e.preventDefault();
                var form = $('#sandbox_form');

                form.attr('action', '{% url 'template_from_sandbox' %}');
                form.submit();
            });

            {% if template.owner_id == request.user.pk %}
            $('#action_edit_template').click(function(e) {
                e.preventDefault();
                var form = $('#sandbox_form');

                form.attr('action', '{% url 'template_from_sandbox' template.pk %}');
                form.submit();
            });
            {% endif %}
        });
    </script>

    <style>
        #actions .btn {
            margin: 2px auto;
        }

        #render_result {
            width: 100%;
            height: 300px;
        }
    </style>
{% endblock %}

{% block title%}Sandbox – {% endblock %}

{% block content %}<div class="page-header">
    <h1>Sandbox <small>for release: <a href="{% url 'get_result' id %}">{{ release_title }}</a></small></h1>
</div>
<form class="well" method="post" id="sandbox_form">
    {% csrf_token %}
    <h2>{{ sandboxform.template_code.label }}</h2>
    {{ sandboxform.template_code }}
</form>
<div class="row">
    <div class="span8">
        <div class="well">
            <h2>Preview:</h2>
            <textarea id="render_result" readonly></textarea>
        </div>
    </div>
    <div class="span4">
        {% include 'format_form.html' %}
        <div class="clear well" id="actions">
            <h2>Actions:</h2>
            <a class="btn btn-primary" href="#" id="action_new_template">Apply as new</a>
            {% if template.owner_id == request.user.pk %}
                <a class="btn" href="#" id="action_edit_template">Apply changes</a>
                <a class="btn" href="{% url 'template_edit' template.pk %}">Discard and edit</a>
            {% endif %}
            <a class="btn" href="{{ request.path }}?template={{ template.pk }}">Discard</a>
        </div>
        {% if immediate_dependencies %}
            <div class="well">
                {% include 'dependency_codes_sandbox.html' %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}