{% extends "result.html" %}{% load url from future %}

{% block additionalHeaders %}
    {{ sandboxform.media }}
    {{ block.super }}
{% endblock %}

{% block additionalJS %}
        template_editor.on("changes", function() {
            var template = template_editor.getValue();

            sandbox.eval(eval_string, success_callback, {template: template, data: data}, failure_callback);
        });
{% endblock %}

{% block title%}Sandbox – {% endblock %}

{% block subcontent %}<div class="well"><textarea id="description_area"></textarea></div>
<div class="well">{{ sandboxform }}</div>
<ul>
    {% for template in templates %}
    <li><a href="{% url 'sandbox' id %}?template={{ template.pk }}">{{ template.name }}</a></li>
    {% empty %}
    <li>Sorry, no templates in this list!</li>
    {% endfor %}
</ul>
{% endblock %}