{% extends "base.html" %}

{% block title%}Settings – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block settings_li_tags %} class="active"{% endblock %}

{% block content%}{% if successful %}<div class="alert alert-success">Your defaults were saved successfully.</div>{% endif %}
    
    <div class="alert alert-info">In order for this to work, you have to allow cookies from YADG to be saved in your browser. Furthermore you cannot block the referer for this site.</div>
    
    <form action="{% url settings %}" method="post">
        {% csrf_token %}
        <fieldset xmlns="http://www.w3.org/1999/xhtml">
            <legend>Settings</legend>
            <div class="control-group{% if form.description_format.errors %} error{% endif %}">
              <label for="id_description_format" class="control-label">{{ form.description_format.label }}</label>
              <div class="controls">
                {{ form.description_format }}{% if form.description_format.errors %}
                <span class="help-inline">{{ form.description_format.errors|first|escape }}</span>{% endif %}
              </div>
            </div>
            
            <div class="control-group{% if form.scraper.errors %} error{% endif %}">
              <label for="id_scraper" class="control-label">{{ form.scraper.label }}</label>
              <div class="controls">
                {{ form.scraper }}{% if form.scraper.errors %}
                <span class="help-inline">{{ form.scraper.errors|first|escape }}</span>{% endif %}
              </div>
            </div>
            
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Save defaults</button>
              <button class="btn" type="reset">Cancel</button>
            </div>
        </fieldset>
    </form>{% endblock %}