{% extends "base.html" %}{% load url from future %}

{% block title%}Users – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block userlist_li_tags %} class="active"{% endblock %}

{% if is_paginated %}{% load paginator %}{% endif %}
{% load addforms %}
{% load subscribedto %}
{% load templatevisible %}
{% load shortcuts %}

{% block content%}<div class="page-header">
    <h1>Users</h1>
</div>
{% include 'user_search_form.html' %}
<div class="clear"></div>
{% if is_paginated %}{% paginator 2 %}{% endif %}
<ul class="unstyled">
{% with get_query_string=request.GET.urlencode|urlencode %}
{% for user_obj in users %}
    {% with is_subscribed_to=request.user|subscribedto:user_obj %}
    <li class="well">
        {% if request.user.pk != user_obj.pk %}
            {% if not is_subscribed_to %}
                {% with subscribe_form=user_obj|subscribe_form %}
                    {% include 'subscribe_form.html' with sub_user=user_obj %}
                {% endwith %}
            {% else %}
                {% include 'unsubscribe_button.html' %}
            {% endif %}
        {% endif %}
        <h2>{{ user_obj.username }}</h2>
        {% with templates=user_obj.template_set.all|getvisiblefor:request.user|dictsort:"name.lower" %}
            {% if templates %}
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>{%  if request.user.pk == user_obj.pk %}My{% else %}Public{% endif %} template</th>
                            <th>Utility</th>
                            {%  if request.user.pk == user_obj.pk %}<th>Public</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    <!-- TODO: only display part of the list if it is too big (full list then on user details page) -->
                    {% for template in templates %}
                        <tr>
                            <td>{% if is_subscribed_to or request.user.pk == user_obj.pk %}<a href="{% url 'scratchpad_index' %}?template={{ template.pk }}">{{ template.name }}</a>{% else %}{{ template.name }}{% endif %}</td>
                            <td>{{ template.is_utility|yesnoimg }}</td>
                            {%  if request.user.pk == user_obj.pk %}
                                <td>{{ template.is_public|yesnoimg }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span class="label">This user does not have any public templates.</span>
            {% endif %}
        {% endwith %}
    </li>
    {% endwith %}
{% empty %}
    <li class="alert alert-info">No users to display.</li>
{% endfor %}
{% endwith %}
</ul>
{% if is_paginated %}{% paginator 2 %}{% endif %}
{% endblock %}