{% extends "base.html" %}

{% block title %}Login – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block login_li_tags %} active{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger mb-4">Please enter a correct username and password. Note that both fields are case-sensitive.</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="card mb-4">
        {% csrf_token %}

        <h5 class="card-header">Login</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}

            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
{% endblock %}