{% extends "base.html" %}

{% block title %}Change password – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block passwordchange_li_tags %} active{% endblock %}

{% block content %}
    <form action="{% url 'password_change' %}" method="post" class="card mb-4">
        {% csrf_token %}

        <h5 class="card-header">Change password</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            <button class="btn btn-primary" type="submit">Change password</button>
        </div>
    </form>
{% endblock %}