{% extends "base.html" %}{% load url from future %}

{% block title%}Change password – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block passwordchange_li_tags %} class="active"{% endblock %}

{% block content%}
    <form action="{% url 'password_change' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset xmlns="http://www.w3.org/1999/xhtml">
            <legend>Change password</legend>

            {% include 'bootstrap_form_fields.html' %}
            
            <div class="form-actions">
              <button class="btn btn-primary" type="submit">Change password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}