{% extends "base.html" %}

{% block title %}Sure? – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <h2 class="mb-4">What did you do?</h2>
        <div class="alert alert-danger mb-4">{{ form.user_id.errors }}</div>
    {% else %}
        {% if dependant_templates %}
            <div class="alert alert-warning mb-4">
                <ul class="m-0 list-unstyled">
                    <li>
                        The following templates will be affected:
                        <ul class="m-0">
                            {% for template in dependant_templates %}
                                <li><a href="{% url 'template_edit' template.id %}">{{ template.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div class="card mb-4">
            <h5 class="card-header">Are you sure?</h5>

            <div class="card-body">
                <p class="m-0">
                    Are you sure you want to unsubscribe from <strong>{{ unsub_user.username }}</strong>?
                    If you click yes all of your templates that have a dependency to one of
                    <strong>{{ unsub_user.username }}</strong>'s templates won't be functional anymore.
                </p>

                <form action="{% url 'unsubscribe' %}" method="post" id="unsubscribe_form">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-danger mt-3">Yes, I'm sure</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}