{% load with_attrs %}<form action="{% url 'user_list' %}" method="get" id="user_search_form" class="form-row">
    <div class="col-12 col-md-auto mb-3 mb-md-0">
        <label class="sr-only" for="{{ user_search_form.username.id_for_label }}">{{ user_search_form.username.label }}</label>
        {{ user_search_form.username|with_attrs:"form-control" }}
    </div>

    <div class="col-12 col-md-auto mb-3 mb-md-0">
        <label class="sr-only" for="{{ user_search_form.template_name.id_for_label }}">{{ user_search_form.template_name.label }}</label>
        {{ user_search_form.template_name|with_attrs:"form-control" }}
    </div>

    <div class="col-auto">
        <button class="btn btn-secondary" type="submit">Search</button>
    </div>
</form>