{% extends "base.html" %}

{% block title %}Users – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block userlist_li_tags %} active{% endblock %}

{% if is_paginated %}{% load paginator %}{% endif %}
{% load addforms %}
{% load subscribedto %}
{% load templatevisible %}

{% block content %}
    <h2 class="mb-4">Users</h2>

    <div class="row">
        <div class="col-12 col-md-auto ml-auto mb-4">{% include 'user/user_search_form.html' %}</div>
    </div>

    {% if is_paginated %}
        <div class="mb-4">{% paginator 2 %}</div>
    {% endif %}
    <ul class="list-unstyled">
        {% with get_query_string=request.GET.urlencode|urlencode %}
            {% for user_obj in users %}
                {% with is_subscribed_to=request.user|subscribedto:user_obj %}
                    <li class="card bg-light mb-4 p-3">
                        <div class="row">
                            <div class="col-12 col-md-auto mb-3">
                                <h3 class="m-0"><a
                                        href="{% url 'user_detail' user_obj.pk %}">{{ user_obj.username }}</a></h3>
                            </div>
                            <div class="col-12 ml-auto col-md-auto mb-3">
                                {% if request.user.pk != user_obj.pk %}
                                    {% if not is_subscribed_to %}
                                        {% with subscribe_form=user_obj|subscribe_form %}
                                            {% include 'user/subscribe_form.html' with sub_user=user_obj %}
                                        {% endwith %}
                                    {% else %}
                                        {% include 'user/unsubscribe_button.html' with unsub_user=user_obj %}
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>

                        {% with all_templates=user_obj.template_set.all|getvisiblefor:request.user|dictsort:"name.lower" %}
                            {% if all_templates %}
                                {% include 'template/template_overview_table.html' with templates=all_templates|slice:":20" %}
                                {% if all_templates|length > 20 %}
                                    <p class="alert alert-info m-0 mt-3"><strong>Note:</strong> The list of public templates of this user has been
                                        truncated. To view the whole list visit the <a href="{% url 'user_detail' user_obj.pk %}">user page</a>.</p>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-secondary m-0">This user does not have any public templates.</div>
                            {% endif %}
                        {% endwith %}
                    </li>
                {% endwith %}
            {% empty %}
                <li class="alert alert-info mb-4">No users to display.</li>
            {% endfor %}
        {% endwith %}
    </ul>
    {% if is_paginated %}
        <div class="mb-4">{% paginator 2 %}</div>
    {% endif %}
{% endblock %}